In [28]:
import pandas as pd
df_raw = pd.read_excel('Network_from_Carlotta/Correspondence_analysis.xlsx',sep='\t')

In [29]:
df = df_raw.dropna(subset=['Sender (From)','Addressee (To)'])

In [30]:
actors = set(df['Sender (From)'].tolist()).union(set(df['Addressee (To)'].tolist()))
actors

{' J. (Han) Feenstra ',
 ' Jan Antonie de Melker',
 '?',
 '??',
 '???',
 'A. Binter',
 'A. Jansen',
 'A. Noorman',
 'A.G. Tennant Moon',
 'A.P. Bruigom',
 'ALENA STASTNA and RAJKO GEORGIEV RAJKOV',
 'Adam',
 'Albert Lewis',
 'Alberto Bassoli',
 'Alena Milos Zahradnik',
 'Alena Zahradnik',
 'Alia Alma',
 'Alice Rooney',
 'Ambrosius',
 'Anneke Veldman',
 'Annelien van Kempen',
 'Ans Blaauboer',
 'Antony E. Snow',
 'Arend Roosenschoon',
 'Arjan Muijlwijk',
 'Art Academy',
 'Ayter Sürür',
 'B. Sefton',
 'Babitška',
 'Benno Premsela',
 'Bernadine de Neeve',
 'Bernie Marek',
 'Bert Schich…',
 'Bess Littelton',
 'Binte Saetrang',
 'Boris',
 'Brian Hughes',
 'Brian and Zahara Hughes',
 'Bud Voork',
 'C. Bachmann',
 'C. J. Gischler',
 'C. R. Hooijer',
 'Carla Doring ',
 'Caroline Du Puis',
 'Charles Bray',
 'Charles and Margaret Bray',
 'Charles and Margeret Bray',
 'Ciril',
 'Colescott',
 'Corry van Hall',
 'Costumer Center',
 'D. E. Hogan',
 'D. Gibson Byrd',
 'Dani and Laor',
 'Dick',
 'Dirk Vis',
 'Don Reity',
 'Doortjje Walles',
 'Duk Nus',
 'Durk Valkema',
 'Durk Valkema and Anna Calgren',
 'Dwight P. Lanmon',
 'E. Crommelin',
 'E. Rutten-Broekman',
 'E.T.H. Detting meyer',
 'Elena',
 'Elisabeth Koopman - Bleeker',
 'Elly Wouters',
 'Elmo',
 'Erich Aschenbrenner',
 'Erika Waltrand',
 'Felicitas Engels-Neuhold',
 'Fieke',
 'Finn Lynggaard',
 'Flo Olivier',
 'Fokko Leutscher',
 'Frank L. Kulasiewicz',
 'Frank and Carol Kulasiewicz',
 'Frantisek Janak',
 'Fred Abrans',
 'Frits en Luise',
 'Fruin',
 'G. Heuff',
 'G. J. van der Molen',
 'Gabriele Küstner',
 'Galina',
 'Geert van Fastenhont',
 'Geertje Huisman',
 'George H. Scherr',
 'Gerrit van der Ven',
 'Ginni',
 'H. Gerson',
 'H. J. Richartz',
 'H. Scholten',
 'H. Spoor',
 'H. de Jong',
 'H.J. Miep Singelenberg',
 'Han Sinke',
 'Hand J. van der Horst',
 'Hans Polak',
 'Harvey Littleton',
 'Helena',
 'Helmut Ricke',
 'Henk Hartsuijker',
 'Henk Hartsuijker and Luzia',
 'Hennie',
 'Herman Hart',
 'Herman J. Scholten',
 'Hetty Huisman',
 'Hiske Bekkering',
 'Hjalp and Mary',
 'I. Vis',
 'I. van Geel',
 'Inge Maria Ostenfeld',
 'Ingeborg Lundin',
 'Inger',
 'Ivonne Brunhammer',
 'J. A. Knaap',
 'J. F. N. J. Jansen',
 'J. Hulsker',
 'J. J. Walraven',
 'J. Mers',
 'J. V. G. Mallet',
 'J. van Ravenswaaij',
 'J. van Vlijmen',
 'J.van Schaik',
 'James Grant',
 'Jan',
 'Jaroslava Brychtova',
 'Jaroslava Brychtova and Stanislav Libensky',
 'Jim Wilson',
 'Jimmy Yaacob',
 'Jon Andersson',
 'Josh Simpson',
 'K. Sanders',
 'Kea Verweij',
 'Kennedy and Jim Wright',
 'Kenneth M. Wilson',
 'Kitty Fischer',
 'Kitty Wigleven',
 'Kl. Laansma',
 'Klaas Laansma',
 'L. A. van der Sluis ',
 'L. A. van der Sluis and Fieke',
 'L.S.',
 'L.W. Janssen',
 'Leo',
 'Les',
 'Lies Cosijn',
 'Lies en Ben',
 'Liesbeth Leendertz - de Songe',
 'Louis Landweei',
 'Lukas',
 'Luzia D. Curjel Hartsuyker',
 'Lydi',
 'M. Wisgerhaf-Hantenga',
 'Maaja van Dam',
 'Maja van de Jong - de Herder',
 'Marianna V. Franken',
 'Marijke',
 'Mariëtte Bielski',
 'Marta',
 'Matisse P. Etienne',
 'Maureen R. Michelson',
 'Maurine Littleton',
 'Members of the Comité S. Valkema',
 'Michael Boylen',
 'Miep Singelenberg',
 'Mies ?',
 'Milos Zahradnik',
 'Monica Damian Scurtu',
 'Monica Trujen',
 'Mr Chang',
 'Nadir',
 'Natascha Zaludova',
 'Nel Groot',
 'Nicola',
 'Norma P.H. Jenkins',
 'Nure Raderus ???',
 'Pauline Mount',
 'Peter Janssen',
 'Peter Layton',
 'Priscilla Price',
 'R. D. van Daalen',
 'R.E.O. Ekkart',
 'Rajko Georgiev Rajkov',
 'Rob Nieuwenhuys',
 'Rob van den Doel',
 'Rober M. Silver',
 'Rober Willson',
 'Robert H. Barber ',
 'Robert Hilton Barber ',
 'Robert Stone',
 'Roman Bartkiw',
 'Rudolf',
 'S van Geel-Hitrop',
 'Santosh Mital',
 'Sasha and Sietre',
 'Shirley Fineblit',
 'Simon Pearce',
 'Siti ?',
 'Sonja Landweer',
 'Sonyja Landweers',
 'Stanislav Libensky',
 'Stella M. Baer',
 'Susanne K. Frantz',
 'Sybren  Valkema',
 'Sybren Valkema',
 'Sybren and Veronique Valkema',
 'Sybren, Veronique and Durk Valkema',
 'T.M. Eliëns',
 'Takako Sano',
 'Thomas Buechner',
 'Titus M. Eliëns',
 'Tjet',
 'Trudy',
 'Ulla Forsell',
 'Van Santen',
 'Veronique Valkema',
 'Vic',
 'W. van Osselen',
 'Weefklao Jukno',
 'William Warmus (Bill)',
 'Wim Hazeu',
 'Win Korink',
 'Wybe Valkema',
 'Z.H. Landsheer',
 'class',
 'students'}

In [31]:
df

,Archive_HD,Folder,File name,Sender (From),Sender (From) - Infos,Sender (From) - Location,Addressee (To),Addressee (To) - Infos,Addressee (To) - Location,Date,...,Language,Mentioned,Info on Mentioned,Page,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,17_1_01,654.0,1310885.0,Bernadine de Neeve,NaN,Haarlem,Sybren and Veronique Valkema,NaN,NaN,1972-02-02 00:00:00,...,NL,NaN,NaN,page 1,NaN,NaN,NaN,NaN,NaN,NaN
1,17_1_01,654.0,1310886.0,Bernadine de Neeve,NaN,Haarlem,Sybren and Veronique Valkema,NaN,NaN,1972-02-02 00:00:00,...,NL,NaN,NaN,page 2,NaN,NaN,NaN,NaN,NaN,Cigler;Libensky;Alena;van der Linden;Eisch;Her...
2,17_1_01,654.0,1310887.0,Sybren Valkema,NaN,Blaricum,Bernadine de Neeve,NaN,Haarlem,1972-01-29 00:00:00,...,NL,Cigler,NaN,NaN,NaN,NaN,NaN,NaN,Cigler,NaN
14,17_1_01,654.0,1310889.0,Bernadine de Neeve,NaN,Haarlem,Sybren and Veronique Valkema,NaN,NaN,1972-01-13 00:00:00,...,NL,Alena,NaN,page 1,NaN,NaN,NaN,NaN,NaN,NaN
15,17_1_01,654.0,1310890.0,Bernadine de Neeve,NaN,Haarlem,Sybren and Veronique Valkema,NaN,NaN,1972-01-13 00:00:00,...,NL,Cicler,NaN,page 2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,17_1_01,643.0,1310379.0,Galina,NaN,Kerrville,Sybren and Veronique Valkema,NaN,Blaricum,1983-11-09 00:00:00,...,EN,NaN,NaN,page 2,NaN,NaN,NaN,NaN,NaN,NaN
821,17_1_01,643.0,1310380.0,Galina,NaN,Kerrville,Sybren and Veronique Valkema,NaN,Blaricum,1983-11-09 00:00:00,...,EN,NaN,NaN,page 3,NaN,NaN,NaN,NaN,NaN,NaN
822,17_1_01,643.0,1310381.0,Galina,NaN,Kerrville,Sybren and Veronique Valkema,NaN,Blaricum,1983-11-09 00:00:00,...,EN,NaN,NaN,page 4,NaN,NaN,NaN,NaN,NaN,NaN
823,17_1_01,643.0,1310382.0,Gabriele Küstner,NaN,Göthingenrdes,Sybren Valkema,NaN,Blaricum,1984-08-17 00:00:00,...,DE,NaN,NaN,page 1,NaN,NaN,NaN,NaN,NaN,NaN
824,17_1_01,643.0,1310384.0,Gabriele Küstner,NaN,Göthingenrdes,Sybren Valkema,NaN,Blaricum,1984-08-17 00:00:00,...,DE,NaN,NaN,page 2,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# import json
# alias = json.load(open('alias_dictionary_final.json','r'))

In [33]:
import json
aka = json.load(open('also_known_as_final.json','r'))

alias = {}
for main_name, names in aka.items():
    for name in names:
        alias[name] = main_name
        
def resolve_alias(p):
    cnt = 0
    while p in alias and cnt < 10:
        p = alias[p]
        cnt += 1
    if cnt == 10:
        print('Got a loop in aliases! Starting point: ',p)
    return p

In [65]:
graph = {}

In [66]:
def add_edge(p1, p2, doc_id):
    if p1 == p2:
        return
    
    if (p1, p2) in graph:
        graph[(p1,p2)].append(doc_id)
    else:
        graph[(p1,p2)] = [doc_id]
        
        
def add_edges(people, doc_id):
    '''
    people: list of people found in a document
    doc_id: path to text or another unique identifier
    '''
    if len(people) < 2:
        return
    
    for i, p1_raw in enumerate(people):
        for p2_raw in people[i:]:
            p1 = resolve_alias(p1_raw)
            p2 = resolve_alias(p2_raw)
            add_edge(p1, p2, doc_id)
#             add_edge(p2, p1, doc_id) # NB: directed graph in this case!

In [67]:
def extract_id(path):
    return path.split('/')[-1].split('.')[0]

In [68]:
from tqdm.auto import tqdm

In [69]:
def split_name(name): # for cases like Sybren and Veronique Valkema
    if name.find(' and ') == -1:
        return [name]
    
    first_part, second_part = name.split(' and ') # only two people together, not more
    
    if second_part.find(' ') != -1: # last name present
        if first_part.find(' ') == -1: # no last name for first person
            lastname = second_part.split(' ')[-1]
            first_part += ' '+lastname
    return [first_part,second_part]

In [70]:
for i in tqdm(range(0, len(df))):
    row = df.iloc[i]
    sender = row['Sender (From)'] 
    receiver = row['Addressee (To)']
    
    if sender.startswith('?') or receiver.startswith('?'):
        continue
    if sender.endswith('?') or receiver.endswith('?'):
        continue
    if sender == 'Sybren  Valkema':
        sender = 'Sybren Valkema'
    if receiver == 'Sybren  Valkema':
        receiver = 'Sybren Valkema'
        
    senders = split_name(sender) # for cases like Sybren and Veronique Valkema
    receivers = split_name(receiver) 
    filename = str(int(row['File name']))
    for s in senders:
        for r in receivers:
            add_edges([s, r],filename)

  0%|          | 0/727 [00:00<?, ?it/s]

In [71]:
# saving to a readable format

records = []
# seen_connections = set()
for people, docs in graph.items():
    person1 = min(people)
    person2 = max(people)
#     if (person1, person2) in seen_connections:
#         continue
#     seen_connections.add((person1,person2))
    records.append({'person1':person1,
                   'person2':person2,
                   'document_ids':docs})
    
df_graph = pd.DataFrame.from_records(records)
df_graph

,person1,person2,document_ids
0,Bernardine de Neeve,Sybren Valkema,"[1310885, 1310886, 1310889, 1310890, 1310891, ..."
1,Bernardine de Neeve,Veronique Valkema,"[1310885, 1310886, 1310889, 1310890, 1310891, ..."
2,Bernardine de Neeve,Sybren Valkema,[1310887]
3,Binte Saetrang,Sybren Valkema,[1318445]
4,Binte Saetrang,Sybren Valkema,[1318447]
...,...,...,...
306,Laor,Sybren Valkema,"[1310362, 1310364, 1310366, 1310367, 1310368, ..."
307,Laor,Veronique Valkema,"[1310362, 1310364, 1310366, 1310367, 1310368, ..."
308,Galina,Sybren Valkema,"[1310378, 1310379, 1310380, 1310381]"
309,Galina,Veronique Valkema,"[1310378, 1310379, 1310380, 1310381]"
310,Gabriele Küstner,Sybren Valkema,"[1310382, 1310384]"

In [72]:
df_graph = df_graph.groupby(['person1', 'person2'], as_index=False).agg({'document_ids': 'sum'})
df_graph

,person1,person2,document_ids
0,J. (Han) Feenstra,Sybren Valkema,[1310445]
1,Jan Antonie de Melker,Sybren Valkema,"[1262435, 1262439, 1262454]"
2,A. Binter,Sybren Valkema,"[1269270, 1269271, 1269272]"
3,A. Binter,Veronique Valkema,"[1269270, 1269271, 1269272]"
4,A. Jansen,Sybren Valkema,"[1459844, 1459845, 1459846, 1459847]"
...,...,...,...
254,Sybren Valkema,sochar Rajko Georgiev Rajkov,"[1453564, 1453571, 1453572, 1453573, 1453576, ..."
255,Sybren Valkema,students,"[1269476, 1269477, 1269478]"
256,Sybren Valkema,wy herman hart,[1297980]
257,Veronique Valkema,Zaharah Hughes,[1288898]
258,Veronique Valkema,sochar Rajko Georgiev Rajkov,"[1453564, 1453571, 1453572, 1453573, 1453578, ..."

In [73]:
df_graph.to_csv('/ivi/ilps/personal/vprovat/valkema_graph_directed_manual_FINAL.tsv',sep='\t',index=False)

In [6]:
df_graph = pd.read_csv('/ivi/ilps/personal/vprovat/valkema_graph_directed_manual.tsv',sep='\t')

In [7]:
# from PIL import Image
# def show_image(filename):
#     df_target = df[df['filename'] == filename]
#     img_path_big = df_target.iloc[0]['path_to_image']
#     img_path = img_path_big.replace('TIF','JPG').replace('tif','jpg')
#     try:
#         img = Image.open(img_path)
#     except:
#         img = Image.open(img_path_big)
#     display(img)
#     print(img_path_big)

In [16]:
# show_image('0001246779.jpg')

In [8]:
import networkx as nx

In [9]:
import numpy as np

In [46]:
df_graph['weight']=df_graph['document_ids'].apply(lambda x: len(eval(x)))

In [ ]:
# Old code begins her

In [10]:
%
def num_people(doc_id):
    return 2 # only doing sender-receiver for now
#     people = eval(df[df['filename']==doc_id+'.jpg'].iloc[0]['people'])
#     return len(people)

def get_weight(doc_ids):
    total = sum([num_people(doc_id) for doc_id in doc_ids.split('-')])
    return total # todo check it

def get_weight_for_list(doc_ids_list):
    return sum([1/get_weight(doc_id) for doc_id in doc_ids_list])

UsageError: Line magic function `%` not found.

In [48]:
G = nx.Graph()
for item in graph.items():
    if len(set(item[1])) < 3: # pruning the long tail
        continue
    if item[0][0] == 'Valkema' or item[0][1] == 'Valkema': # ambiguous node, not useful
        continue 
    # (('M. Th. Brusse', 'Valkema'), ['0001246763'])
    weight = get_weight_for_list(item[1])
    G.add_edge(item[0][0], item[0][1], weight=weight)# np.log(len(set(item[1]))))

In [49]:
from pyvis.network import Network
def prepare_network(G1):
    net = Network(notebook=True,cdn_resources='remote')
    net.from_nx(G1)
    net.toggle_physics(True)
    return net

In [50]:
net = prepare_network(G)
net.repulsion()
net.show('graph_manual.html')

graph_manual.html

In [26]:
# now, Valkema-only

Valkema = nx.Graph()
for item in graph.items():
    if len(set(item[1])) < 3: # pruning the long tail
        continue
    if item[0][0] == 'Valkema' or item[0][1] == 'Valkema': # ambiguous node, not useful
        continue 
    if item[0][0] != 'Sybren Valkema' and item[0][1] != 'Sybren Valkema': # Valkema only
        continue 
    # (('M. Th. Brusse', 'Valkema'), ['0001246763'])
    weight = get_weight_for_list(item[1])
    Valkema.add_edge(item[0][0], item[0][1], weight=weight)# np.log(len(set(item[1]))))
    
net = prepare_network(Valkema)
net.repulsion()
net.show('Valkema.html')

Valkema.html

In [27]:
# now, Valkema-only

Valkema = nx.Graph()
for item in graph.items():
    if len(set(item[1])) < 3: # pruning the long tail
        continue
    if item[0][0] == 'Valkema' or item[0][1] == 'Valkema': # ambiguous node, not useful
        continue 
    if not item[0][0].endswith('Valkema') and not item[0][1].endswith('Valkema'): # Valkema only
        continue 
    # (('M. Th. Brusse', 'Valkema'), ['0001246763'])
    weight = get_weight_for_list(item[1])
    Valkema.add_edge(item[0][0], item[0][1], weight=weight)# np.log(len(set(item[1]))))
    
net = prepare_network(Valkema)
net.repulsion()
net.show('Valkema.html')

Valkema.html

In [28]:
# todo: ask Carlotta for her list of people, show her ours, discuss the graph
# ask how she came up with places - extracting from letters or knowing where everyone works?

In [29]:
# automatic network analysis for digital humanities
# RQs from Carlotta
# find centrality, PageRank etc